@using Capstone.Web.Models;
@model PW


@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron detail-hero" style="background-image:url(@Url.Content("~/Content/img/" + Model.ParkCode + ".jpg"))" ;>
    <h1 class="text-center">@Model.ParkName</h1>
    <h3 class="text-center">"<em>@Model.InspirationalQuote"</em> - @Model.InspirationalQuoteSource</h3>

</div>
<div class="container">

    <div class="row park-desc">
        <div class="col-xs-12">
            <p class="lead">@Model.ParkDescription</p>
        </div>
        <hr />
    </div>
    
    <div class="row">
        <div class="park-statistics">
            <div class="col-xs-12 col-sm-offset-3 col-sm-3">
                <p><span class="bold">State: </span>@Model.State</p>
                <p><span class="bold">Year Founded: </span>@Model.YearFounded</p>
                <p><span class="bold">Acreage: </span>@Model.Acreage</p>
                <p><span class="bold">Annual Vistor Count: </span>@Model.AnnualVisitorCount</p>
                <p><span class="bold">Entry Fee: </span>$@Model.EntryFee</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p><span class="bold">Elevation in Feet: </span>@Model.ElevationInFeet</p>
                <p><span class="bold">Miles of Trail: </span>@Model.MilesOfTrail</p>
                <p><span class="bold">Number of Campsites:</span> @Model.NumberOfCampsites</p>
                <p><span class="bold">Climate: </span>@Model.Climate</p>
                <p><span class="bold">Number Of Animal Species: </span>@Model.NumberOfAnimalSpecies</p>

            </div>
        </div>
    </div>
    <div class="clearfix wth-shim"></div>

    <div class="well">
        <div class="row five-day">
            <div class="col-xs-12"><h3 class="text-center">5-Day Forecast</h3></div>
        </div>

        <div class="row daily-weather">
            @foreach (var w in Model.Weather)
            {
                <div class="col-xs-12 col-sm-2">
                    <div class="thumbnail daily-forecast">
                        <img src="@Url.Content("~/Content/img/" + w.Forecast + ".png")" alt="@w.Forecast" />

                        @if ((Session["TempPref"] as String) == "Celsius")
                        {
                            <h4 class="text-center">High: @w.CalculateCelsius(w.High)&deg;</h4>
                            <h4 class="text-center">Low: @w.CalculateCelsius(w.Low)&deg;</h4>

                        }
                        else
                        {
                            <h4 class="text-center">High: @w.High&deg;</h4>
                            <h4 class="text-center">Low: @w.Low&deg;</h4>

                        }



                        @if (w.High >= 75)
                        {
                            <p class="text-center">Bring Extra Water</p>
                        }
                        @if (w.Low <= 20)
                        {
                            <p class="text-center">Danger! Extreme risk of exposure due to low temp!</p>
                        }
                        @if (w.High - w.Low >= 20)
                        {
                            <p class="text-center"> Wear breathable layers</p>
                        }


                        @if (w.Forecast == "sunny" || w.Forecast == "partly cloudy")
                        {
                            <p class="text-center gear-suggestion"> Pack Sunblock </p>
                        }
                        else if (w.Forecast == "snow")
                        {
                            <p class="text-center gear-suggestion"> Pack Snowshoes </p>
                        }
                        else if (w.Forecast == "rain")
                        {
                            <p class="text-center gear-suggestion"> Pack Raingear and Waterproof Shoes</p>
                        }
                        else if (w.Forecast == "thunderstorms")
                        {
                            <p class="text-center gear-suggestion"> Seek Shelter; Avoid Hiking on Exposed Ridges</p>
                        }


                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            @if ((Session["TempPref"] as String) == "Celsius")
            {
                <a href="@Url.Action("ShowFahrenheit", "Park", new { id = Model.ParkCode })">Show temperatures in Fahrenheit</a>
            }
            else
            {
                <a href="@Url.Action("ShowCelsius", "Park", new { id = Model.ParkCode })">Show temperatures in Celsius</a>
            }
        </div>
    </div>


</div>